---
import HeaderAbout from "../components/about/header";
import AboutIntro from "../components/about/introduction";
import Layout from '../layouts/Layout.astro';
---


<Layout title="About Us Page">
	<main>
    <HeaderAbout client:only="react" />
    <AboutIntro client:only="react" />
  </main>
</Layout>
