---
import AstroPresentation from "../components/presentation/astro";
import CodePresentation from "../components/presentation/code";
import DevFreePresentation from "../components/presentation/developerFree";
import FooterFreePresentation from "../components/presentation/footerFree";
import FreeToProPresentation from "../components/presentation/freeToPro";
import GithubPresentation from "../components/presentation/github";
import HeaderPresentation from "../components/presentation/header";
import LogosPresentation from "../components/presentation/logos";
import PagesFreePresentation from "../components/presentation/pagesFree";
import PalettePresentationFree from "../components/presentation/palette";
import PricingPresentation from "../components/presentation/pricing";
import Layout from '../layouts/Layout.astro';

---

<Layout title="Presentation Page">
	<main>
    <HeaderPresentation client:only="react" />
    <!-- <FeaturePresentation client:only="react" /> -->
    <LogosPresentation client:only="react" heading="EAS PLATFORM 주요 고객" desc="EAS PLATFORM의 솔루션을 이용하는 고객을 확인해보세요." />
    <DevFreePresentation client:only="react" />
    <PalettePresentationFree client:only="react" />
    <CodePresentation client:only="react" />
    <FreeToProPresentation client:only="react" />
    <AstroPresentation client:only="react" />
    <PagesFreePresentation client:only="react" />
    <PricingPresentation client:only="react" />
    <GithubPresentation client:only="react" />
    <FooterFreePresentation client:only="react" />
  </main>
</Layout>
